* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color: #fbfbfb;
  color: #292929;
  margin: 24px;
}

.cleaning-calculator {
  border: 1px solid #b7b7b7;
  border-radius: 10px;
  padding: 16px;
  max-width: 300px;
  background-color: #efefef;
  box-shadow: 10px 10px 35px -35px rgba(0, 0, 0, 0.75);

  .cleaning-calculator__title {
    margin: 4px 0;
    font-size: 1em;
  }

  .cleaning-calculator__section {
    padding: 8px 0;
  }

  .cleaning-calculator__input-wrap {
    padding: 2px 0;

    label {
      margin-left: 2px;
    }
  }

  .cleaning-calculator__input-wrap--select {
    width: 100%;

    select {
      width: 100%;
      padding: 4px;
    }
  }

  .result-feedback {
    font-size: 1.3em;
    color: #3f52b5;
  }
}
